.App {
  text-align: center;
}

.header {
  text-align: center;
}

.planetsContainer {
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1%;
}

.containerTitle {
  text-align: center;
}

.planetCard {
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 5px;
  max-width: 250px;
}

.planetName {
  border-radius: 5px;
  display: flex;
  font-size: 18px;
  justify-content: center;
}

.missionsContainer {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.missionsCard {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1px;
  padding: 3px;
}
